<div id="new_suggestion">
	
	<div id="hotkeys">
		<%= image_tag "keyboard.gif" -%> Hotkeys
	</div>

<%= form_for(@sc, :url => suggestion_scenarios_create_path) do |f| %>
  <% if @sc.errors.any? %>
  <% end %>
  
  <fieldset>
  	<legend>Suggest a new scenario that you find useful</legend>
  	
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    
    <div class="new_steps">
    	<table>
	    <%= render :partial => "suggestion_steps/form"%>    
	    <%= render :partial => "suggestion_steps/form"%>
	    </table>
    </div> 
    
    
    <div class="actions">
      <%= f.submit "Create Suggestion" %>
    </div>
  </fieldset>
  
  
<% end %>
</div>

