<div id="new_suggestion">
	
	
	<div id="close_suggestion">
		<%= image_tag "close_icon.png", height: '15'%> or Alt+P
	</div>
	
	<div id="hotkeys">
		<%= image_tag "keyboard.gif", height: '15' -%> Hotkeys
	</div>

<%= form_for(@sc, :url => suggestion_scenarios_create_path) do |f| %>
  <% if @sc.errors.any? %>
  <% end %>
  
  <%= f.hidden_field :feature_id %>
  
  <fieldset>
  	<!-- <legend>Suggest a new scenario that you find useful</legend> -->
  	
    <div class="field">
      <%= f.label :name %>
      <%= f.text_field :name %>
    </div>
    
    <div class="field">
      <%= f.label :description %> 
      <br />
      <%= f.text_area :description , :size => "75x7" %>
    </div>
  </fieldset>
  
  <div id="suggestion_errors">
  	<%= image_tag "warning.png", height: '20' %>
  	<span/>
  </div>
  
  <div class="new_steps">
  	<div class="steps">
		<%= render :partial => "suggestion_steps/form"%>    
		<%= render :partial => "suggestion_steps/form"%>
	</div>
	<span id="no_steps_error">
		Please add at least one step.. <span class="add_step">+</span>
	</span>
  </div>
  
  <div class="actions">
	<%= f.submit "Create Suggestion" %>
  </div>
  
  
  
<% end %>
</div>

