<div id="contentexpander">
<%= form_for(@project) do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="field project_script">
    <%= f.label :script %><br />
    <p>
    	This script will be executed after cloning your project and before running cucumber.
    	Gem calls should be prefixed with "bundle exec".
    	
    </p>
    
    <div class="script_line"> git clone http://github.com/<span id="github_username"><%= @project.github_username || "<username>" %></span>/<span id="github_repo"><%= @project.github_repo || "<repo>" %></span>.git</div>
    <%= f.text_area :script, rows: '7', cols: '60' %>
    <div class="script_line">bundle exec cucumber</div>
  </div>
  
  <table id="project_fields">
  	<tr>
  		<td><%= f.label :title %></td>
    	<td><%= f.text_field :name %></td>
  	</tr>
  	
  	<tr>
  		<td><%= f.label :github_username %></td>
  		<td><%= f.text_field :github_username %></td>
  	</tr>
  	
  	<tr>
  		<td><%= f.label :github_repo %></td>
  		<td><%= f.text_field :github_repo %></td>
  	</tr>
  	
  </table>
  

  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

</div>
