<div id="contentexpander">
	<h1>My Projects</h1>

	<div class="mybubble" style="padding: 30px; margin-top: 30px">
		
		<div class="projects">
			<% @projects.each do |project| %>
				<div class="project clickable" data-proj_id="<%= project.id %>">
					<span class="role">as a <span class="role_name"><%= project.roles.find_by_user_id(session[:id]).name %></span></span>
					
					<span class="name"><%= link_to project.name, project_path(project)  %></span>
					
					</br></br></br>
					<span class="done">Done: <%= project.percentage_done %></span>
					<span class="members">Members: <%= project.users.count %></span>
					
					
					
				</div>
			<% end %>
		</div>
		
		<br /><br />
		
		<%= link_to 'New Project', new_project_path %>
	
	</div>
</div>
