<p id="notice"><%= notice %></p>


 <script type="text/javascript" >
	
	var filled = false;

	$(function() {

		$( "#username" ).autocomplete({
			 source:  function(request, response) {
			 
			 			var tmp = "string="+request.term;
			 
					    $.ajax({
					      url: "/users/dynamic_search",
					      data: tmp,
					      dataType: "json",
					      type: "GET",
					      success: response
					    });
					    
					  },
                minLength: 1,
			focus: function( event, ui ) {
				$( "#username" ).val( ui.item.name );
				return false;
			},
			select: function( event, ui ) {
				$( "#username" ).val( ui.item.name);
				$("#userid").val(ui.item.id);
				filled = true;
				return false;
			}
		})
		.data( "autocomplete" )._renderItem = function( ul, item ) {
			
			//alert(item.photo);
			return $( "<li></li>" )
				.data( "item.autocomplete", item )
				.append( 
				
				"<a>"  +
				"<img src=\"" + item.get_photo +"\" width=\"30\" height=\"30\">"
				+item.name +
				"</a>")
				.appendTo( ul );
				
		};		
		
	});
	
	
	function submitCheck(){
		
		if(filled == true)
		 	return true;
		 else{
		 	alert("You must specify a name to add to the project");
		 	return false;
		 }
	}

</script>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Repo:</b>
  <%= @project.repo %>
</p>



<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>


<h2>Users</h2>

<%= form_tag(roles_create_path, :method => "post", :onsubmit=>"return submitCheck()") do %>
	<%= hidden_field_tag "projectid", @project.id %>
	<%= hidden_field_tag "userid" %>

	<%= search_field_tag "username", "username" , :onfocus=>"if(this.value==this.defaultValue) this.value='';"%>
  	
  	<%= select_tag "usertype", "<option>Client</option><option>Developer</option><option>Manager</option>".html_safe  %>
  	<%= submit_tag("Add") %>
  
  
<% end %>

<table class="table">
	
	<tr>
		<th>Name</th>
		<th>Role</th>
		<th></th>
	</tr>
	<% i = 0 %>
	<% @project.roles.each do |role|%>
		
		<tr <%= "class='even'" if i%2 == 0 %>>
			<td>
				<%= role.user.name %>
			</td>
			<td>
				<%= role.name %>
			</td>
			
			<td>
				<% if role.name != "Manager"%>
				 
					<%= form_tag(roles_remove_path, :method => "post") do %>
						<%= hidden_field_tag "userid", role.user.id %>
						<%= hidden_field_tag "projectid", @project.id %>
					  	<%= submit_tag("Delete") %>
					<% end %>
					
				<% end %>
			</td>
			
			</tr>
			<% i+=1%>
	<% end %>
	
</table>