<p id="notice"><%= notice %></p>


 <script type="text/javascript" >

	var selected_id;

	$(function() {

		$( "#user" ).autocomplete({
			 source:  function(request, response) {
			 
			 			var tmp = "string="+request.term;
			 
					    $.ajax({
					      url: "/users/dynamic_search",
					      data: tmp,
					      dataType: "json",
					      type: "GET",
					      success: response
					    });
					    
					  },
                minLength: 1,
			focus: function( event, ui ) {
				$( "#user" ).val( ui.item.name );
				return false;
			},
			select: function( event, ui ) {
				$( "#user" ).val( ui.item.name);
				selected_id = ui.item.id;
				return false;
			}
		})
		.data( "autocomplete" )._renderItem = function( ul, item ) {
			
			//alert(item.photo);
			return $( "<li></li>" )
				.data( "item.autocomplete", item )
				.append( 
				
				"<a>"  +
				"<img src=\"/assets/new_user.png\" width=\"30\" height=\"30\">"
				+item.name +
				"</a>")
				.appendTo( ul );
				
		};		
		
	});

</script>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Repo:</b>
  <%= @project.repo %>
</p>



<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>


<h2>Users</h2>

<form class= "search" action=""  method="get">
		
	<input type="search" name="username" id="user" value="username" onfocus="if(this.value==this.defaultValue) this.value='';" onchange="" onkeydown="if (event.keyCode == 13) document.getElementById('submit').click()" />
	
	<!--
		 
	<input id="submit"  type="submit" value="Search"  class="buttonSubmitHide"/>	
	
	-->
		
</form>

<table class="table">
				<tr>
					<th>Header</th>
					<th>Header</th>
					<th>Header</th>
					<th>Header</th>
					<th>Header</th>
				</tr>
				<tr>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
				</tr>
				<tr class="even">
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
				</tr>
				<tr>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
				</tr>
				<tr class="even">
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
				</tr>
				<tr>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
					<td>Cell</td>
				</tr>
			</table>
	
	
	
