<p id="notice"><%= notice %></p>


<h2 id="feature" data-projectid="<%= @feature.project.id %>" data-featureid="<%= @feature.id %>" > <%= link_to @feature.project.name, project_path(@feature.project) %> > <%= @feature.name %></h2>
<% if @feature.description? %>
	<h3 class="feature_description">
		<% @feature.description.split(/$/).each do |line| %>
			<%= line %>
			</br>
		<% end %>
		
	</h3>
<% end %>


<span id="feature_options">
	<div id="open_suggestion" class="option">
		Suggestion <%= image_tag "thought_bubble.png", height: '25'%>
	</div>
	<div id="feature_comments" class="option">
		<span id ="Feature<%= @feature.id %>">
			<%= @feature.comments.count %>
		</span>	
		comments <%= image_tag "comments_bubbles.png", height: '25'%>
	</div>
	<div id="open_help" class="option">
		Help <%= image_tag "help_bubble.png", height: '25' %>
	</div>
</span>


<%= render partial: "suggestion_scenarios/form"%>

	<% @feature.scenarios.each do |scenario| %>
		<h5 class="scenario_head <%= (scenario.completed)? "completed" : "incomplete" %>">
			<span class="scenario_comments" data-commentable_type="<%= scenario.class.name %>" data-commentable_id="<%= scenario.id %>">
				<span id ="<%= scenario.class.name + scenario.id.to_s %>">
					<%= scenario.comments.count %>
				</span>	
				<%= image_tag "comments_bubbles.png", height: '20'%>
			</span>
			<%= scenario.name %>: <%= scenario.description %>
		</h5>
		<div class="scenario_body">
		<% scenario.steps.each do |step|%>
			<div class="step">
			<%= link_to comments_index_path(commentable_type: step.class, commentable_id: step.id), remote: true do %>
				
				<span class="step_comments" data-commentable_type="<%= step.class.name %>" data-commentable_id="<%= step.id %>"  <%= "style='display:none'" if step.comments.count == 0 %>  >
					<span id ="<%= step.class.name + step.id.to_s %>">
						<%= step.comments.count %>
					</span>	
					<%= image_tag "comments_bubbles.png", height: '17'%>
				</span>
				
				<p class="<%= step.status%>"><label style="color:blue"><%= step.keyword %></label> <%= step.name%></p>
									
				<table class="step_table" rules="cols">
					<% step.step_rows.each_with_index do |row, index|%>
						<%if index%2 == 0%>
							<tr class="odd">
				            	<% row.step_cells.each do |cell|%>
				            		<td><%= cell.name %></td>
				            	<%end%>
			                </tr>
			            <%else%>
			            	<tr class="even">
				            	<% row.step_cells.each do |cell|%>
				            		<td><%= cell.name %></td>
				            	<%end%>
			                </tr>
			            <%end%>
	                <%end%>
                </table>
				<%if step.error_msg? %>
					<p class="step_error"> <%= step.error_msg%></p>
				<%end %>
			<% end %>
			</div>
		<%end%>
		
		<% if scenario.example %>
			<div class="example">
				<h5>Examples</h5>
				<table class="example_table" rules="cols">
					<tr class = "example1strow">
						<% scenario.example.example_rows.first.example_cells.each do |cell| %>
							<th><%= cell.name %></th>
						<% end %>
					</tr>
					<% rows = scenario.example.example_rows %>
					<% rows.shift %>
					<% rows.each_with_index do |row, index|%>
						<%if index%2 == 0%>
							<tr class="even">
				            	<% row.example_cells.each do |cell|%>
				            		<td><%= cell.name %></td>
				            	<%end%>
			                </tr>
			            <%else%>
			            	<tr class="odd">
				            	<% row.example_cells.each do |cell|%>
				            		<td><%= cell.name %></td>
				            	<%end%>
			                </tr>
			            <%end%>
		            <%end%>
		        </table>
		    </div>
        <% end %>
		
		
		</div>
	<% end %>


	
	<% @feature.suggestion_scenarios.each do |scenario| %>
	
		<h5 class="scenario_head suggestion" >

			
			<span class="scenario_comments" data-commentable_type="<%= scenario.class.name %>" data-commentable_id="<%= scenario.id %>">
				<span id ="<%= scenario.class.name + scenario.id.to_s %>">
					<%= scenario.comments.count %>
				</span>	
				<%= image_tag "comments_bubbles.png", height: '20'%>
			</span>
			
			<div class="suggestion_options">
				<%= image_tag('options.png', height: '25') %>
				<ul>
					<li>
						<%= form_tag suggestion_scenarios_run_test_path(id: scenario.id), class: "run_suggestion" do %>
						<% end %>
						<a class="run_suggestion">Run</a>
					</li>
					<li>
						<%= form_tag suggestion_scenarios_destroy_path(suggestion_scenario_id: scenario.id), class: "destroy_suggestion" do %>
						<% end %>
						<a class="thrash_can">Delete</a>
					</li>
				</ul>
			</div>
			
			<%= image_tag "under_construction-1.png", height: '20'%>
			
			<%= scenario.name %>: <%= scenario.description %>
		</h5>
		
		<div class="scenario_body">
			<div class="suggestion_author">
				Suggested by <%= link_to scenario.user.name, users_show_path(id: scenario.user.id) %>
			</div>
			<div class="suggestion_steps">
				<% scenario.suggestion_steps.each do |step|%>
					<div class="step">
					<%= link_to comments_index_path(commentable_type: step.class, commentable_id: step.id), remote: true do %>
					
						<span class="step_comments" data-commentable_type="<%= step.class.name %>" data-commentable_id="<%= step.id %>"  <%= "style='display:none'" if step.comments.count == 0 %>  >
							<span id ="<%= step.class.name + step.id.to_s %>">
								<%= step.comments.count %>
							</span>	
							<%= image_tag "comments_bubbles.png", height: '17'%>
						</span>
						
						<p class="<%= step.status%>"><label style="color:blue"><%= step.keyword %></label> <%= step.name%></p>
						
						<table class="step_table" rules="cols">
							<% step.suggestion_rows.each do |row|%>
								<%if row.row_num%2 == 0%>
									<tr class="even">
						            	<% row.suggestion_cells.each do |cell|%>
						            		<td><%= cell.name %></td>
						            	<%end%>
					                </tr>
					            <%else%>
					            	<tr class="odd">
						            	<% row.suggestion_cells.each do |cell|%>
						            		<td><%= cell.name %></td>
						            	<%end%>
					                </tr>
					            <%end%>
			                <%end%>
		                </table>
		                <%if step.error_msg? %>
							<p class="step_error"> <%= step.error_msg%></p>
						<%end %>
					<% end %>
					</div>
				<%end%>
			</div>
		</div>
	<% end %>

<script>
	$("#content").after("<div id=\"sidebar\"></div>");
	<%= render(file: "comments/comments.js.coffee", locals: { comments: @feature.comments }).html_safe %>
	
</script>