<!DOCTYPE html>
<html>
<head>
  <title>Mads2011</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<% unless session[:username]%>
	<%= form_tag user_login_path do %>
		<%= label_tag 'username', "Username: " %>
		<%= text_field_tag 'username' %>
		<%= label_tag 'password', "Password: " %>
		<%= password_field_tag 'password' %>
		<%= submit_tag "Login" %>
	<% end %>

<% else %>
	Logged in as <%= User.find_by_username(session[:username]).name%>
	<%= button_to "Logout", user_logout_path %>

<% end %>
<%= yield %>

</body>
</html>
