<!DOCTYPE html>
<html>
<head>
  <title>Mads2011</title>
  <%= stylesheet_link_tag    "application" %>  
  
  <%= javascript_include_tag "application" %>
  
  <%= csrf_meta_tags %>
</head>
<body id="hp">


<div id="main">

	<!-- HEADER -->
	<div id="header" class="box">

		<p id="logo"><a href="/" title="[Go to homepage]"><%= image_tag "logo.png" %></a></p>
		<!-- INFO: Used font is named "BALLPARK", you can download it for free here: http://www.fontsquirrel.com/fonts/Ballpark -->

		<!-- NAVIGATION -->
		<ul id="nav">
			<li <%= "class='current'" if current_page?(home_path) %>>
				<%= link_to "<span>Homepage</span>".html_safe, home_path %>
			</li>
			<% if session[:username] %>
				<li <%= "class='current'" if current_pages?(projects_path, new_project_path) %>>
					<%= link_to "<span>Projects</span>".html_safe, projects_path %>
				</li>
			<% end %>
			<li><a href="#"><span>Products</span></a></li>
			<li><a href="#"><span>Clients</span></a></li>
			<li><a href="#"><span>Blog</span></a></li>
			<li><a href="#"><span>Contact us</span></a></li>
		</ul>		
		
		<!-- SOCIAL ICONS -->
		<p id="nav-icons"><a href="#"><%= image_tag "nav-rss.png" %></a><a href="#"><%= image_tag "nav-twitter.png" %></a></p>
		
		<!-- Login -->
		<div id="login">
				<% unless session[:username]%>
			<%= form_tag users_login_path, :class => "form_inline" do %>
				<%= label_tag 'username', "Username: " %>
				<%= text_field_tag 'username' %>
				<%= label_tag 'password', "Password: " %>
				<%= password_field_tag 'password' %>
				<%= submit_tag "Login" %>
			<% end %>
			<%= button_to "Register", users_new_path, :method => :get, :form_class => "form_inline" %>
			
		
		<% else %>
			<%= label_tag "Logged in as " %><%= link_to session[:name], users_show_path(:id => session[:id])%>
			<%= button_to "Logout", users_logout_path, :form_class => "form_inline" %>
		
		<% end %>

		</div> <!-- Login -->
		
	</div> <!-- /header -->

	<h1 id="title">Lorem ipsum dolor sit amet &ndash; Heading H1</h1>
	
	<!-- COLUMNS -->
	<div id="section" class="box">

		<!-- CONTENT -->
		<div id="content">
			<%= yield %>
		</div> <!-- /content -->

		<!-- SIDEBAR -->
		<div id="aside">

			<h2 class="nom">What is new?</h2>
			
			<ul class="articles">
				<li>
					<h3><a href="#">Proudly presents new version</a></h3>
					<p class="date">Monday, October 27</p>
					<p>Lorem ipsum dolor sit amet, consecti adipiscing elit. Aliquam feugiat aliquet elit in comod. Etiam pharetra consectetur velit vel dignissim. Duisem purus augue, ullamcorper et ultrices quis.</p>
				</li>
				<li>
					<h3><a href="#">New products announced</a></h3>
					<p class="date">Saturday, October 16</p>
					<p>Lorem ipsum dolor sit amet, consecti adipiscing elit. Aliquam feugiat aliquet elit in comod. Etiam pharetra consectetur velit vel dignissim. Duisem purus augue, ullamcorper et ultrices quis.</p>
				</li>
				<li class="last">
					<h3><a href="#">Portfolio was updated today</a></h3>
					<p class="date">Thursday, September 13</p>
					<p>Lorem ipsum dolor sit amet, consecti adipiscing elit. Aliquam feugiat aliquet elit in comod. Etiam pharetra consectetur velit vel dignissim. Duisem purus augue, ullamcorper et ultrices quis.</p>
				</li>
			</ul>
		
		</div> <!-- /aside -->

	</div> <!-- /section -->

	<!-- CONTACT -->
	<div id="contact">

		<address>
			CompanyName <span>|</span>
			<a href="#">www.example.com</a> <span>|</span>
			<a href="mailto:example@example.com">example@example.com</a> <span>|</span>
			Address: Street 123, New York, NY <span>|</span>
			Phone: (012) 345-6789
		</address>		

	</div> <!-- /contact -->	
	
	<!-- FOOTER -->
	<div id="footer" class="box">

		<!-- Would you like to remove this line? Visit www.templatesdock.com/terms.php -->
		<p class="f-right t-right"><a href="http://www.templatesdock.com/">Free web templates</a> by TemplatesDock<br /><span class="smaller">Tip: <a href="http://www.nuvio.cz/">Webdesign</a></span></p>
		<!-- Would you like to remove this line? Visit www.templatesdock.com/terms.php -->
	
		<p class="f-left">Copyright &copy;&nbsp;2011 <a href="#">Bestfolio</a>, All Rights Reserved &reg;</p>

	</div> <!-- /footer -->

</div> <!-- /main -->

<script type="text/javascript"> Cufon.now(); </script>

</body>
</html>
